* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Epilogue", sans-serif;
    background: #FAF8F6;
    height: 100svh;
}

.container {
    max-width: 100%;
    margin: 0 auto;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding-left: 166.12px;
    padding-right: 165px;
}

.nav-container .right {
    display: flex;
    align-items: center;
}

a.btn-light {
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: -0.16px;
    padding: 12px 24.5px 12px 23.5px;
    border: 1px solid #172339;
    border-radius: 6px;
    display: inline-block;
    color: #172339;
    text-decoration: none;
}

a.btn-light:hover {
    background-color: #172339;
    color: #FAF8F6;
}

a.btn-dark {
    text-decoration: none;
    padding: 15px 31px 14px 32px;
    background: #172339;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.18px;
    color: #FAF8F6;
    display: inline-block;
    margin-top: 42px;
}

a.btn-dark:hover {
    background: linear-gradient(135deg, #A060FF 0%, #CB30E3 49.21%, #FFA84E 100%);
    color: #FAF8F6;
}

.hero-section-1 {
    display: flex;
    align-items: center;
    height: 100svh;
    justify-content: space-between;
    padding-left: 166px;
    padding-right: 164px;
    width: 1100px;
}

.hero-section-1 h1 {
    font-size: 72px;
    color: #172339;
    line-height: 78px;
    letter-spacing: -1px;
    font-weight: 400;
    width: 635px;
    margin-bottom: 40px;
    padding-top: 103px;
}

#bold {
    font-weight: 700;
}

.hero-section-1 p.sub-heading {
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #49566D;
    width: 350px;
}

.hero-section-1 .left {
    z-index: 9;
}

.middle img {
    margin-left: -160px;
    padding-top: 67px;
    z-index: -3;
    width: 300px;
    height: 600px;
}

.hero-section-1 .line img {
    width: 287px;
    height: 32px;
    left: 455px;
    top: 230px;
    position: absolute;
}

label {
    display: flex;
    padding-left: 96px;
}

.hero-section-1 .right {
    margin-top: 105px;
}

.hero-section-1 .right .top {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #172339;
}

.hero-section-1 .right .bottom {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.5px;
    color: #49566D;
    padding-bottom: 63px;
}

.hero-section-2 {
    display: flex;
    align-items: center;
    height: 545px;
    justify-content: space-between;
    position: relative;
    margin-left: 165px;
    margin-right: 157px;
    margin-top: 228.56px;
}

main {
    background: #172339;
    border-radius: 15px;
    z-index: 1;
}

.hero-section-2 .left-2 {
    align-self: flex-end;
}

.hero-section-2 .left-2 img {
    vertical-align: middle;
    width: 359.81px;
    height: 589.56px;
    margin-left: 113.49px;
}

.hero-section-2 .small-line img {
    position: absolute;
    width: 64.05px;
    height: 52px;
    left: 508.25px;
    top: 160px;
}

.hero-section-2 .blur img {
    position: absolute;
    width: 294px;
    height: 294px;
    left: 142px;
    top: 182px;
    background: #DB65E2;
    opacity: 0.48;
    filter: blur(69.957px);
    z-index: -1;
}

.hero-section-2 .right-2 {
    margin-right: 133px;
    margin-left: 152.7px;
    width: 350px;
    height: 369px;
}

.hero-section-2 h2 {
    height: 56px;
    width: 299px;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #FAF8F6;
}

.hero-section-2 p.quote {
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 0.1px;
    color: #F3EDE7;
    margin-bottom: 40px;
    width: 350px;
}

.hero-section-2 h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.18px;
    color: #FAF8F6;
}

.hero-section-2 p.sub-heading-2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.5px;
    color: #F3EDE7;
}

section {
    position: relative;
    width: 100%;
    height: 40px;
    background: #F3EDE7;
    z-index: -3;
    margin-top: -250px;
}

.footer-info {
    text-align: center;
    position: absolute;
    display: flex;
    top: 320px;
    padding-left: 166.12px;
    padding-right: 165px;
}

footer {
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    letter-spacing: 0.0833333px;
    color: #49566D;
    padding-left: 410px;
    padding-right: 287px;
}

#facebook:hover {
    mix-blend-mode: normal;
    opacity: 0.5;
    cursor: pointer;
}

#twitter {
    padding-left: 38px;
    padding-right: 28px;
}

#twitter:hover {
    mix-blend-mode: normal;
    opacity: 0.5;
    cursor: pointer;
}

#instagram:hover {
    mix-blend-mode: normal;
    opacity: 0.5;
    cursor: pointer;
}

@media only screen and (min-width: 1024px) {
    .mobile, .tablet {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .nav-container {
        margin-top: 24px;
        display: flex;
        padding-left: 16px;
        padding-right: 16px;
    }

    .nav-container .btn-light {
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.14px;
        width: 199.4px;
        height: 48px;
    }

    .hero-section-1 {
        position: absolute;
        height: 323.21px;
        margin-top: 34.32px;
        padding-left: 15.5px;
        max-width: min-content;
    }

    .hero-section-1 h1 {
        width: 343px;
        font-weight: 400px;
        font-size: 38px;
        line-height: 44px;
        letter-spacing: -0.527778px;
    }

    .hero-section-1 p.sub-heading {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.0888889px;
    }

    .hero-section-1 .line img {
        position: absolute;
        width: 151.47px;
        height: 16.89px;
        left: 170px;
        top: 30px;
    }

    .mobile {
        position: absolute;
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
        top: 542px;
    }

    .mobile img {
        width: 100%;
        height: auto;
    }

    .tablet, .middle {
        display: none;
    }

    .hero-section-1 .right {
        position: absolute;
        margin-top: 1420px;
    }

    label {
        display: flex;
        padding-left: 8.2rem;
    }

    .hero-section-1 .right {
        margin-top: 1480px;
    }

    .hero-section-1 .right .bottom {
        padding-bottom: 1.5rem;
    }

    .a {
        padding-left: 8.6rem;
    }

    .c {
        padding-left: 10.6rem;
    }

    .f {
        padding-left: 10rem;
    }
    
    .hero-section-2 {
        position: relative;
        width: 100%;
        height: 748px;
        margin-top: 1340px;
        right: 10.3rem;
    }

    .hero-section-2 .left-2 img {
        position: absolute;
        height: 402px;
        width: 252px;
        left: -35px;
        top: -180px;
    }

    .hero-section-2 .blur img {
        position: absolute;
        width: 100px;
        left: 150px;
        top: -88px;
        mix-blend-mode: normal;
        opacity: 0.48;
        filter: blur(67.957px);
    }

    .hero-section-2 .small-line img {
        position: absolute;
        width: 49.27px;
        left: 163px;
        top: 261px;
    }
    
    .hero-section-2 h2 {
        position: absolute;
        width: 70vw;
        top: 338px;
        left: 3.9rem;
        font-weight: 400;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -0.416667px;
        text-align: center;
    }

    .hero-section-2 p.quote {
        position: absolute;
        width: 90vw;
        height: 160px;
        left: 16px;
        top: 426px;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        text-align: center;
        letter-spacing: 0.09px;
    }

    .hero-section-2 h4 {
        position: absolute;
        width: 50vw;
        left: 6.0rem;
        top: 626px;
        font-weight: 700;
        font-size: 18px;
        line-height: 32px;
        text-align: center;
        letter-spacing: -0.18px;
    }

    .hero-section-2 p.sub-heading-2 {
        position: absolute;
        width: 30vw;
        left: 8.4rem;
        top: 658px;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 2.5px;
    }

    section {
        width: 100%;
        height: 420px;
        top: 99px;
    }

    .footer-info {
        display: block;
        position: relative;
        padding: 0;
        top: 215px;
        margin-left: 16px;
    }

    footer {
        position: relative;
        padding: 0;
        margin-top: 33px;
        margin-bottom: 33px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .mobile {
        display: none;
    }
    
    .nav-container {
        margin-top: 40px;
    }

    .nav-container .left {
        margin-left: -125px;
    }

    .nav-container .right {
        margin-right: -125px;
    }

    .hero-section-1 {
        position: relative;
        height: 482px;
        width: 789px;
        right: 16%;
        margin-top: 50px;
    }

    .hero-section-1 h1 {
        width: 563px;
        font-weight: 400px;
        font-size: 56px;
        line-height: 64px;
        letter-spacing: 0.777778px;
    }

    .hero-section-1 p.sub-heading {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.0888889px;
    }

    .hero-section-1 .line img {
        position: absolute;
        width: 231.19px;
        height: 29px;
        left: 404px;
        top: 70px;
    }

    .hero-section-1 .middle img {
        display: none;
    }

    .tablet {
        position: absolute;
        height: auto;
        max-width: 100%;
        left: 480px;
        top: 176px;
        z-index: -3;
    }

    .a {
        position: absolute;
        top: 605px;
        right: 478px;
    }

    .b {
        position: absolute;
        top: 660px;
        right: 470px;
    }

    .c {
        position: absolute;
        top: 605px;
        right: 250px;
    }

    .d {
        position: absolute;
        top: 660px;
        right: 210px;
    }

    .e {
        position: absolute;
        top: 605px;
        left: 640px;
    }

    .f {
        position: absolute;
        top: 660px;
        left: 667px;
    }

    .hero-section-2 {
        position: relative;
        top: 60px;
        width: 725px;
        height: 684px;
        margin-top: 444px;
        margin-left: 39px;
    }

    .hero-section-2 .left-2 img {
        position: absolute;
        height: 402px;
        width: 252px;
        left: 134px;
        top: -180px;
    }

    .hero-section-2 .blur img {
        position: absolute;
        width: 100px;
        left: 320px;
        top: -98px;
        mix-blend-mode: normal;
        opacity: 0.48;
        filter: blur(67.957px);
    }

    .hero-section-2 .small-line img {
        position: absolute;
        width: 49.27px;
        left: 350px;
        top: 261px;
    }
    
    .hero-section-2 h2 {
        position: absolute;
        width: 573px;
        top: 348px;
        left: 88px;
        font-weight: 400;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -0.416667px;
        text-align: center;
    }

    .hero-section-2 p.quote {
        position: absolute;
        width: 573px;
        left: 85px;
        top: 436px;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        text-align: center;
        letter-spacing: 0.09px;
    }

    .hero-section-2 h4 {
        position: absolute;
        width: 165px;
        left: 289px;
        top: 566px;
    }

    .hero-section-2 p.sub-heading-2 {
        position: absolute;
        width: 190px;
        left: 323px;
        top: 598px;
    }

    section {
        height: 480px;
        padding-left: 39px;
    }
    
    .footer-info {
        top: 380px;
        padding: 0;
    }
    
    footer {
        padding-left: 228px;
        padding-right: 165px;
    }
    
}